@media all and (max-width: 1220px){
	.services {
		background: transparent;
		background-color: #2d5f3b;
		
	}
	}
@media all and (max-width: 1024px){
	.container{
	width: 850px;
	}
	.header{
		background: url(../img/bg-header.svg.png) 14% no-repeat;
		background-size: cover;
	}
	.logo {
		padding-left: 4%;}

	.services__item{
		
		max-width: 100%;
		padding: 0 30px;
	}
	
	.services__item:nth-child(3){
		padding: 0 30px;
		max-width: 100%;
		
	}
	.services__title {
		margin-top: 20px;
	}
	.services__link-plus{
		
		margin-bottom: 20px;
	}
}

@media all and (max-width: 870px){
	.container{
		width: 700px;
		}
}

@media all and (max-width: 720px){
	.container{
		width: 320px;
		}

	.logo {
		float: none;
		font-size: 24px;
		padding: 20px 10px;
		display: inline-block;
	}
	.menu {
		padding: 10px;
		float: none;
	}
	.menu a{
		font-size: 13px;
		margin-right: 15px;
	}
	.header__body {
		margin: 0 10px;
		padding-top: 50px;
		padding-bottom: 70px;
		width: 100%;
	}
	.header__title {
		font-weight: 700;
	}
	.block-text__inner{
		max-width: 100%;
		margin: 0;
		padding: 30px 10px;
	}
	.block-text__title {
		font-size: 24px;
		padding-bottom: 25px;
		font-weight: 400;
		width: 280px;
	
	}
	.block-text__text {
		line-height: 24px;
		padding-bottom: 25px;
		
	}
	.music__title{
		font-size: 32px;
		width: 100%;
		padding: 110px 10px 48px;
	}
	.music__btn{
		font-size: 18px;
		
	}
}